<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS home page </title>
</head>
<body>
    <h1>  this is a home page </h1>
    <h3><%= 1+ 9  %></h3>
    <h3><%# this is coment  %></h3>
    <h3><%= "tushar Shinde".toUpperCase() %></h3>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas praesentium doloribus, pariatur accusamus iste ut officia nulla ea consectetur eius placeat quam incidunt fuga exercitationem quaerat dolor, ipsum vel porro!

    </p>

 <button>  click me !</button>
</body>
</html>